*{
    padding: 0;
    margin: 0;
    border: 0;
 } 
 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px; 
 }
 ul li{list-style: none;}
 a:hover{text-decoration: none;}
/* ======================================================================================================== */
body{
    font-family: 'Noto Serif Display', serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 20px;
}
.navigation__menu{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; 
	height: 40px;
    padding: 10px 0px; 
    z-index: 1;
}
.navigation__list{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.navigation__item{
    font-size: 19px;
    font-weight: 500;
    color: gold;
    cursor: pointer;
    transition: all 0.5s;
}
 .navigation__item:hover{
    color: white;
}
.hamburger{
    display: none;
}
@media (max-width: 767px){
    .navigation__list{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, .9);
        transition: 0.6s;
    }
    .navigation__list_active{
        left: 0;
    }
    .hamburger{
        display: block; 
        position: absolute;
        right: 15px;
        margin-top: 26px;
        top: 0;
        transform: translateY(-50%);
        width: 25px; 
        height: 25px; 
    }
    .hamburger-span{
        display: block;
        height: 2px;
        width: 100%;
        background-color: white;
        transition: 0.3s all;
        margin-top: 4px;
    }
    .navigation__link{
        display: flex;
        padding: 25px 0px 0px 0px;
    }
    .navigation__item:hover{
        color: gold;
    }
    .navigation__item{
        font-size: 22px;
    }
}

.promo{
    height: 600px;
    background: url(../bg/bg3.webp)  center center/cover no-repeat;
}
.promo__header{
    text-align: center;
    color: #FFFAFA;
    padding: 190px 0px 0px 0px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.promo__subheader{
    text-align: center;
    color: #FFFAFA;
    padding: 60px 0px 0px 0px;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}
.promo__descr{
    text-align: center;
    color: #FFFAFA;
    padding: 25px 0px 0px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
@media (max-width: 575px){
    .promo__header{
        padding: 60px 0px 0px 0px;
        font-size: 20px;
    }
    .promo__subheader{
        padding: 20px 0px 0px 0px;
        font-size: 18px;
    }
    .promo__descr{
        padding: 20px 0px 0px 0px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }
}

.product{
    background-color: whitesmoke;
}
.product__title{
    position: relative;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0px 20px 0px;
}
.product__title::after{
    content: '';
    width: 220px;
    height: 4px;
    background-color: gold;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0px 0px 0px -112px;
}
.product__content{
    display: flex;
    padding: 30px 0px;
    /* display: none; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.product__content_active{
    margin: 0px -5px;
}
.product__item{
    max-width: 280px;
    max-height: 100%;
    /* box-shadow: 1px 2px 2px 2px gold; */
    border-radius: 10px;
    border: 2px solid gold;
    background-color: #fff;
    padding: 20px 20px;
    overflow: hidden;
    margin-left: 5px;
    margin-bottom: 20px;
}
.product__parent-img{
    overflow: hidden;
    min-height: 200px;
}
.product__img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.product__subtitle{
    text-align: center;
    font-size: 17px;
    line-height: 20px;
}
.product__price{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0px;
    text-decoration: underline;
}
.product__text{
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    padding: 10px 0px;
    /* flex: 1 1 auto; */
}
.product__wrapper{
    display: flex;
    width: calc(200% + 20px);
}
.product__body{
    width: 57%;
    margin-right: 0px;
    transform: translateX(-120%);
    transition: 0.5s all;
    margin: 0 auto;
}
.product__body_active{
    transform: translateX(0%);
    margin-right: 20px;
}
.product__list{
    width: 50%;
    margin-left: 20px;
    transform: translateX(0%);
    padding-right: 20px;
    transition: 0.5s all;
    padding-left: 19px;
    margin: 0 auto;
    /* margin-bottom: 0; */
}
.product__list_active{
    transform: translateX(-100%);
    margin-left: 0px;
}
.product__descr{
    display: block;
    text-align: center;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}
.product__descr:hover{
    color: gold;
    transition: all 0.3s;
}
 .product__back{
    position: absolute;
    bottom: 0;
    left: 38%;
    /* transform: translateX(calc(-50% -19px)); */
    display: block;
    text-align: center;
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 14px;
    text-decoration: underline;
}
.product__back:hover{
    color: gold;
    transition: all 0.3s;
}
.product-list-item{
    color: gold;
    list-style: disc;
    line-height: 30px;
}
.product__style{
    color: black;
    font-size: 15px;
}
.product__availability{
    text-align: center;
    padding-bottom: 15px;
    color: green;
    font-size: 14px;
}
.product__deliver{
    text-align: center;
    padding-bottom: 15px;
    color: orange;
    font-size: 14px;
}

.info{
    background: url(../bg/bg7.webp) center center/cover no-repeat;
    min-height: 400px;
}
.info__wrapper{
    padding: 20px 0px 0px 0px;
}
.info__items{
    display: flex;
    justify-content: space-around;
    align-items: start;
    /* padding: 60px 0px 0px 0px; */
}
.info__list{
    padding: 0px 5px;
}
.info__subtitle-partners{
    text-align: left;
    color: #fff;
    padding: 0px 0px 0px 5px;
}
.info__link{
    color: #fff;
    line-height: 40px;
    font-size: 18px;
}
.info__list-contacts{
    padding: 0px 5px;
}
.info__subtitle{
    color: #fff;
    text-align: center;
}
.info__number{
    color: #fff;
    line-height: 40px;
    font-size: 18px;
}
.info__times-list{
    padding: 0px 5px;
}
.info__day{
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}
/* @media (max-width: 575px) {
    .info__partners{
        display: none;
    }
} */


